.quarto-figure-default, .quarto-figure {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.code-copy-outer-scaffold, .callout {
  margin-top: 40px;
  margin-bottom: 40px;
}

pre {
  overflow-x: auto;
}

pre, pre code, code {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

table, table.table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3, .h3, h4, .h4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}