.quarto-figure-default, .quarto-figure {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.code-copy-outer-scaffold, .callout {
  margin-top: 40px;
  margin-bottom: 40px;
}

pre {
  overflow-x: auto;
}


pre, pre code, code {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}
